h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    margin: 20%;
}
h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    margin: 20%;
}